{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
{{ form_widget(form.section, { 'attr': {'class': 'form-control'}}) }}
<h5>{{ form.section.vars.value }}</h5>
<div class="form-group">
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.largeFile, NULL, { 'label_attr': {'class': 'control-label'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.largeFile) }}
            {{ form_widget(form.largeFile) }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.mediumFile, NULL, { 'label_attr': {'class': 'control-label'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.mediumFile) }}
            {{ form_widget(form.mediumFile) }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.smallFile, NULL, { 'label_attr': {'class': 'control-label'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.smallFile) }}
            {{ form_widget(form.smallFile) }}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}