<!-- Menu -->
<div id="menu" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('event_index') }}" class="navbar-brand">Backoffice Tchatchao</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('background_index') }}">{% trans %}Backgrounds{% endtrans %}</a></li>
                <li><a href="{{ path('event_index') }}">{% trans %}Agenda{% endtrans %}</a></li>
                <li><a href="{{ path('gallery_index') }}">{% trans %}Gallery{% endtrans %}</a></li>
                <li><a href="{{ path('dance_index') }}">{% trans %}Dance{% endtrans %}</a></li>
                <li><a href="{{ path('bio_index') }}">{% trans %}Bio{% endtrans %}</a></li>
                <li><a href="{{ path('contact_index') }}">{% trans %}Contact{% endtrans %}</a></li>
                <li><a href="{{ path('home') }}" target="__blank">{% trans %}View website{% endtrans %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('authlog_index') }}">{% trans %}Failure auth Logs{% endtrans %}</a></li>
                        <li><a href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Fin Menu -->